
.selected .thumbnail {
	border-style: solid;
	border-color: blue;
	border-width: 1px;
	box-shadow: 0px 0px 5px 1px rgba(0, 80, 255, .75);
	top: 2px;
	left: 0px;
	height: 75%;
	width: 20%;
	position: relative;
}

.thumbnail {
	margin: 1%;
	position: relative;
	display: inline;
	height: 75%;
	width: 20%;
}

.channel {
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	display: block;
	width: 1200px;
	height: 170px;
}

.card {
	overflow: hidden;
	display: inline;
	visibility: visible;
}

.top_row {
	top: 5px;
}

.above {
	position:absolute;

	opacity: 0.2;
}

.behind {
	position:absolute;
	opacity: 0.2;
}

.grid{


}

.video_title {

}