body {
	background-color: #e1e1e1;
	font-family: arial, sans-serif;
}

.test_buttons {

	position: relative;
	padding: 0 0.5em;
}

.test_title {
	color:rgb(255, 255, 255);
}

.testing {
	position: fixed;
	top: 90%;
	left: 5%;
	border-radius: 0.1em;
	background-color: blue;
	border: 0.2em solid rgba(100, 100, 100, 0.2);
	opacity: 0.1;
}

.testing:hover {
	opacity: 1;
}