body {
	overflow: hidden ;
}
.center {
	position: relative;
	display: block;
	margin-left:auto;
	margin-right:auto;
}

.test_buttons {

	position: relative;
	padding: 0 0.5em;
}

.test_title {
	color:rgb(0,255,0);
}

.testing:hover {
	opacity: 1;
}


.meta {
	margin-left:auto;
	margin-right:auto;
	width: 900px;
	z-index: 0;
	background: #fff;
	font-size: 0.9em;

}
.meta-data {
	display: block;
}

.meta-title {
	font-size: 1.6em;
	letter-spacing: -0.03em;
	display: inline;
}